/* Global styles */
body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
}

.header {
  background-image: linear-gradient(to right, #a6d0ff, #7fb9ff, #7f8aff);
  color: #fff;
  padding: 0rem;
  text-align: center;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f1ff;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #d0e8ff 10%, transparent 10%),
                    radial-gradient(circle, #f8fbff 10%, transparent 10%);
  background-position: 0 0, 1.5625rem 1.5625rem;
  background-size: 3.125rem 3.125rem;
  padding: 2rem;
}

.content > div {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1),
              0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 56.25rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-upload-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.page-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.watermark {
  position: fixed;
  bottom: 1rem;       
  right: 1rem;     
  text-align: right;
  color: #999;
  z-index: 999;
  opacity: 0.6;
  font-size: 0.85rem;
  user-select: none;
}


/* Sidebar */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 16rem;
  padding: 2rem 1.25rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.sidebar-container button {
  font-size: 1.125rem;
  padding: 0.75rem 1.25rem;
}

.main-container {
  height: 100vh;
  display: flex;
  width: 100vw;
}

/* Dialog overlay */
.radix-dialog-overlay,
[data-state="open"] > .radix-dialog-overlay,
body > div[class*="radix-portal"] > div {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
  position: fixed !important;
  inset: 0 !important;
  z-index: 9998;
}

/* EULA */
.custom-eula-backdrop {
  position: fixed;
  inset: 0;
  z-index: 9998;
  background-color: rgba(20, 44, 82, 0.5);
  backdrop-filter: blur(3px) saturate(80%);
  pointer-events: none;
}

/* Flashcards */
.flashcard-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f1ff;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #d0e8ff 10%, transparent 10%),
                    radial-gradient(circle, #f8fbff 10%, transparent 10%);
  background-position: 0 0, 1.5625rem 1.5625rem;
  background-size: 3.125rem 3.125rem;
  padding: 2rem;
}

.flashcard-content > div {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1),
              0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 56.25rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Settings */
.settings-container {
  background-color: #c5dfff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.2),
              0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.2);
  text-align: center;
  min-height: 32.5rem;
  width: 28.125rem;
  margin: 0 auto;
  overflow: hidden;
}

.settings-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f1ff;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #d0e8ff 10%, transparent 10%),
                    radial-gradient(circle, #f8fbff 10%, transparent 10%);
  background-position: 0 0, 1.5625rem 1.5625rem;
  background-size: 3.125rem 3.125rem;
  padding: 2rem;
}

.settings-container h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #2c3546;
  margin-bottom: 1.5rem;
  border-bottom: 0.125rem solid #e7f3ff;
  padding-bottom: 0.5rem;
}

/* Buttons */
.settings-button,
.read-button,
.regen-test-button,
.submit-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.settings-button {
  background-color: #7ea3dc;
  color: black;
  box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.4), 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.settings-button:hover {
  background-color: #5e88c2;
}

.read-button {
  width: 200px;
  height: 40px;
  background-color: #f0ad4e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin: 0;
}


.read-button:hover {
  background-color: #ec971f;
}

.read-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.read-button.recording {
  background-color: #d9534f;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(217, 83, 79, 0.7);
  }
  70% {
    box-shadow: 0 0 0 0.625rem rgba(217, 83, 79, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(217, 83, 79, 0);
  }
}

.regen-test-button {
  background-color: #5e88c2;
  color: white;
}

.regen-test-button:hover {
  background-color: #4473b4;
}

.regen-test-button.loading {
  background-color: #305588 !important;
  opacity: 0.7;
}

.submit-button {
  background-color: #2ac92a;
  color: white;
}

.submit-button:hover {
  background-color: #1fac1f;
}
